@page "/userinfo/editpassword"
@model DBAIS.Pages.Auth.EditPasswordModel
@{
    Layout = "_Shared/_MasterLayoutPage";
}

<!-- Toggle menu -->
@{
    Dictionary<string, string> breadcrumbRoutes = new Dictionary<string, string>
{
                    {"/", "Home"},
                    {"/userinfo", "User info"}
                };

}
<partial name="_ToggleSidebarWithBreadcrumbs" model="@breadcrumbRoutes" />

<h2>Edit Password</h2>
@if (ModelState.ErrorCount > 0)
{
    <div id="book-alert" class="alert alert-danger" role="alert" style="{margin:10px;}">
        <div class="validation" asp-validation-summary="All"></div>
    </div>
}
<form method="post">
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="CurrentPassword" class="control-label">Current password</label>
            <input asp-for="CurrentPassword" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-4">
            <label asp-for="NewPassword" class="control-label">New password</label>
            <input asp-for="NewPassword" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-2">
            <a href="/userinfo">
                <button type="button" class="btn btn-secondary">Cancel</button>
            </a>
        </div>
        <div class="col-2">
            <input type="submit" class="btn btn-success" value="Edit">
        </div>
    </div>
</form>
