@{
    Layout = "_Shared/_MasterLayoutPage";
}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <partial name="_ToggleSidebarButton"/>
            <div class="col-1">
                <a href="/products/add">
                    <button type="button" class="btn btn-success">Add +</button>
                </a>
            </div>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
        </div>
    </nav>
    @RenderBody()
</div>

