@page
@model DBAIS.Pages.IndexModel
@{
    ViewBag.Title = "Home";
    Layout = "_Shared/_MasterLayoutPage";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <partial name="_ToggleSidebarButton" />
        <div class="col">

        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-1">
                <a href="/userinfo">
                    <button type="button" class="btn btn-primary">User Info</button>
                </a>
            </div>
            <div class="col-1">
                <form method="post" asp-page-handler="logout">
                    <input type="submit" class="btn btn-secondary" value="Sign Out" />
                </form>
            </div>
        }
        else
        {
            <div class="col-1">
                <a href="/Account/Login">
                    <button type="button" class="btn btn-primary">Sign In</button>
                </a>
            </div>
            <div class="col-1">
                <a href="/Account/SignUp">
                    <button type="button" class="btn btn-primary">Sign Up</button>
                </a>
            </div>
        }
    </div>
</nav>

<h1>ZLAGODA supermarket main page</h1>
