@page "/yurii/query2"
@model DBAIS.Pages.YuriiQueryPages.YuriiQuery2

@{
    Layout = "_Shared/_MasterLayoutPage";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <partial name="_ToggleSidebarButton" />
    </div>
</nav>


<h1>Yurii`s Query #2</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">Revenue</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var info in Model.Revenues)
    {
        <tr>
            <td>@info.Id</td>
            <td>@info.Name</td>
            <td>@info.Sum</td>
        </tr>
    }
    </tbody>
</table>