@page "/vadym/query2"
@model DBAIS.Pages.VadymQueriesPages.VadymQuery2Model
@{
    ViewBag.Title = "Vadym Query 2";
    Layout = "_Shared/_MasterLayoutPage";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <partial name="_ToggleSidebarButton" />
    </div>
</nav>


<h1>Vadym`s Query #2</h1>
<h4>Найпопулярніші категорії проданих товарів по місяцям</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Year</th>
            <th scope="col">Month</th>
            <th scope="col">Category</th>
            <th scope="col">Products sold</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var best in Model.BestCategories)
        {
            <tr>
                <td>@best.Year</td>
                <td>@best.Month</td>
                <td>@best.Name</td>
                <td>@best.Quantity</td>
            </tr>
        }
    </tbody>
</table>
