@page "/products/add"
@model DBAIS.Pages.ProductPages.ProductAddeModel
@{
    Layout = "_Shared/_MasterLayoutPage";
}
<div>
    <!-- Toggle menu -->
    @{
        Dictionary<string, string> breadcrumbRoutes = new Dictionary<string, string>
        {
                    {"/", "Home"},
                    {"/products", "Products"},
                    {"/products/add", "Add"},
                };

    }
    <partial name="_ToggleSidebarWithBreadcrumbs" model="@breadcrumbRoutes" />
    <!-- Content -->
    <div>
        @{
            var header = "Create new product";
        }
        <partial name="_EditPageHeader" model="@header" />
        @if (ModelState.ErrorCount > 0)
        {
            <div id="book-alert" class="alert alert-danger" role="alert" style="{margin:10px;}">
                <div class="validation" asp-validation-summary="All"></div>
            </div>
        }
        <form method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="ProductName">Product name</label>
                        <input type="text" asp-for="ProductName" class="form-control" placeholder="Product name">
                    </div>
                    <div class="col-2">
                        <label asp-for="ProductCategoryId">Category</label>
                        <select class="custom-select" asp-for="ProductCategoryId" asp-items="Model.CategoryOptions"></select>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-6">
                        <label asp-for="ProductCharacteristics">Characteristics</label>
                        <textarea asp-for="ProductCharacteristics" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-2">
                        <a href="/products">
                            <button type="button" class="btn btn-secondary">Cancel</button>
                        </a>
                    </div>
                    <div class="col-2">
                        <input type="submit" class="btn btn-success" value="Create Product">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

