@model Dictionary<string, string>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
        </button>
        <ol class="breadcrumb">
            @foreach (KeyValuePair<string, string> pathName in Model)
            {
                <li class="breadcrumb-item"><a href="@pathName.Key">@pathName.Value</a></li>
            }
        </ol>
    </div>
</nav>
